<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="">Model</label>
        <input type="text" placeholder="e.g Honda" name = "Model" >
        <label for="">Daily fee (VND)</label>
        <input type="text" placeholder="100000" name = "Dailyfee">
        <label for="">Image</label>
        <input type="text" placeholder="e.g https://hondaxemay" name = "Image">
        <label for="">Year</label>
        <input type="text" placeholder="e.g 2013" name = "Year">
        <button>Submit</button>
    </form>
</body>
</html>