<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <label>title</label>
    <input type="text" placeholder = " e.g supperman" name = "title">
    <label>Image</label>
    <input type="text" placeholder=" e.g tokuda" name = "image">
    <label>Year</label>
    <input type="text" placeholder="1990" name =  "year">
    <button>Click Em Di</button>
    </form>
    
</body>
</html>